.picture-section {
  display: none;
  img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
}
.gallery-section {
  picture {
    img {
      display: inline-block;
      width: 49%;
      height: 200px;
    }
    &:first-child {
      img {
        width: 100%;
      }
    }
  }
}
a {
  display: block;
  text-align: center;
  font-size: 20px;
}
a.img-link {
  display: inline-block;
  width: 49%;
}
.head {
  font-size: 15px;
}
.sub-picture-section {
  display: block;
}
